extends ../layouts/main

block meta
  meta(name="robots" content="index,follow")
  title=DATA.meta.title.index
  meta(name="keywords" content=DATA.meta.keywords.index)
  meta(name="description" content=DATA.meta.description.index)
  meta(property="og:title" content=DATA.meta.title.index)
  meta(property="og:description" content=DATA.meta.description.index)
  meta(property="og:url" content=DATA.domain)
  link(rel="canonical" href=DATA.domain)
  link(rel="preload" as="script" href=require("Scripts/base.js"))
  link(rel="preload" as="style" href=require("Styles/base.scss"))
block styles
  link(rel="stylesheet" href=require("Styles/base.scss") media="all")
  link(rel="stylesheet" href=require("Styles/index.scss") media="all")
block content
  - page = '';
  include ../blocks/preloader/preloader
  .page-wrapper.page-wrapper--main
    include ../blocks/header/header
    include ../blocks/menu/menu
    main
      include ../blocks/offer/offer
      include ../blocks/advantages/advantages
      include ../blocks/agent/agent
      include ../blocks/nav/nav
    include ../blocks/footer/footer
block scripts
  script(src=require("Scripts/base") defer)
  script(src=require("Scripts/index") defer)
